{% extends 'usuarios/base.html'%}
{% block conteudo %}
    <div class="container">
        <h1>Usuarios Cadastrados:</h1>
        <table class="table table-bordered table-striped">
            <tr>
                <th>id</th>
                <th>nome</th>
                <th>idade</th>
            </tr>
            {% for usuario in usuarios %}
            <tr>
                <td>{{usuario.id_usuario}}</td>
                <td>{{usuario.nome}}</td>
                <td>{{usuario.idade}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
